html, body {
    height: auto;
}

#mainNav {
    display: none;
}

#mainNav.nav-fix {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #ececec;
}

.main-wrapper {
    overflow-y: hidden;
    width: unset;
    margin: unset;
}

#mainNav.nav-fix {
    .navbar {
        margin-bottom: 0;
    }
}


.switch-lang {
    height: 50px;
    display: flex;
    align-items: center;

    & .dropdown-menu {
        & .lang-sm {
            color: #000;
        }
    }
}