{% extends 'base.html.twig' %}

{% block meta_title %}
    <title>{{ meta_title|default('Admin Panel!1') }}</title>
{% endblock %}

{% block metatags %} {% endblock %}

{% block stylesheets %} {% endblock %}
{% block javascript %}
    <script src="{{ asset('js/frontend.js') }}"></script>
{% endblock %}

{% block body %}
    Страница
{% endblock %}

{% block javascript_vendor %}
    <script src="{{ asset('js/vue.js') }}"></script>
{% endblock %}
