<div class="switch-lang">
    <div class="btn-group dropdown">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="lang-sm lang-lbl" lang="{{ app.request.locale }}"></span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url('switch.lang', { 'locale': 'ru'}) }}"><span class="lang-sm lang-lbl-full" lang="ru"></span></a></li>
            <li><a href="{{ url('switch.lang', { 'locale': 'en'}) }}"><span class="lang-sm lang-lbl-full" lang="en"></span></a></li>
        </ul>
    </div>
</div>
